<!DOCTYPE html>
<html lang="en">

<head>
  <title>ATN Toys Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .row.content {
      height: 2100px
    }

    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

    #imgToy {
      text-align: left;
    }
  </style>
</head>

<body class="bg-primary p-3 ">

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 bg-info p-3 ">
        <h1 class="text-primary" >ATN Toys Store</h1>
        {{!-- {{#if userid }}
        <h1 class="header">Hello {{userid}} - {{role}}</h1>
        --}}
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img  height="50px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_GQMSEy3c0CI6FiA2kxRB3qqcKCUqnFQKDw&usqp=CAU" alt="Avatar Logo" style="width:100px;" class="rounded-pill">
              </a>
            </div>
          </nav></li>
          
          <li><a href="/products">ATN store in Ha Noi</a></li>
          <li><a href="/products2">ATn store in Ho Chi Minh City</a></li>
        </ul>
        {{!-- {{else}}

        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="/login">Please click here to log in with an Admin account to view the company's
              products</a></li>
        </ul>
        {{/if}} --}}
      </div>

      <div class="col-sm-9">
        <div
          style="background-color:skyblue ; padding-top: 10px;padding-right: 80px; padding-bottom: 10px;padding-left: 80px;">
          <img
            src="https://i0.wp.com/animationscreencaps.com/wp-content/uploads/2020/03/4k-toystory4-animationscreencaps.com--scaled.jpg?fit=2560%2C1077&ssl=1"
            alt="BackGroud" style="width: 1350px;height:300px; border:20px; padding-right: 30px;padding-left: 300px;" class="rounded">

        </div>
        <hr>
        <h2 style="color: black; margin-right: 150px; margin-left: 500px;">New Toy: Woody</h2>
        <img src="https://c4.wallpaperflare.com/wallpaper/1010/100/949/woody-toy-story-4-wallpaper-preview.jpg"
          alt="Toy"
          style="width:728px;height:404px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;"
          class="rounded">
        <br><br>

        <hr>
        <h2 style="color: black; margin-right: 150px; margin-left: 500px;">New Toy</h2>
        <img
          src="https://c4.wallpaperflare.com/wallpaper/690/32/832/buzz-lightyear-toy-story-4-animation-2019-wallpaper-preview.jpg"
          alt="Toy"
          style="width:728px;height:404px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;">
        <hr>

        {{!--
        <hr>
        <h2 style="color: black; margin-right: 150px; margin-left: 500px;">New Toy</h2>
        <img src="/images/dochoi3.jpg" alt="Toy"
          style="width:528px;height:528px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;">
        <hr>
        <br><br>

        <hr>
        <h2 style="color: black; margin-right: 150px; margin-left: 500px;">New Toy</h2>
        <img src="/images/dochoi4.jpg" alt="Toy"
          style="width:528px;height:528px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;">
        <hr>
        <br><br>

        <hr>
        <h2 style="color: black; margin-right: 150px; margin-left: 500px;">New Toy</h2>
        <img src="/images/dochoi5.jpg" alt="Toy"
          style="width:528px;height:528px;margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 300px;">
        <hr>
        <br><br> --}}


      </div>
    </div>
  </div>


  <footer class="container-fluid">
    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 150px; margin-left: 600px;">© 2022 Copyright:ATN Toys
      store</p>
  </footer>

</body>

</html>